In [1]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    driver='FreeTDS',
    server='lga-db4.pulse.data',
    port=58321,
    uid='sqoopuser',
    pwd='sqoop@207*',
    tds_version='7.3'
)

query = """
SELECT * FROM Utility.dbo.ComparePage;
"""

df = pd.read_sql_query(query, conn)

In [3]:
df[:10]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Dt</th>
      <th>TableName</th>
      <th>PaidImpressions</th>
      <th>LastModifiedDt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-09-09</td>
      <td>lga-hive-factlogevent</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-09-09</td>
      <td>lga-hive-logevent</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-09-09</td>
      <td>lga-sql-advDailyStats</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-09-09</td>
      <td>lga-sql-KPIHourly</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-09-09</td>
      <td>lga-sql-pubDailyStats</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2017-09-09</td>
      <td>sjc-hive-factlogevent</td>
      <td>88819475</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2017-09-09</td>
      <td>sjc-hive-logevent</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2017-09-09</td>
      <td>sjc-sql-advDailyStats</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2017-09-09</td>
      <td>sjc-sql-KPIHourly</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2017-09-09</td>
      <td>sjc-sql-pubDailyStats</td>
      <td>151447969</td>
      <td>2017-10-09 17:21:00</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
list(df.TableName.unique())     # len is 12

[u'lga-hive-factlogevent',
 u'lga-hive-logevent',
 u'lga-sql-advDailyStats',
 u'lga-sql-KPIHourly',
 u'lga-sql-pubDailyStats',
 u'sjc-hive-factlogevent',
 u'sjc-hive-logevent',
 u'sjc-sql-advDailyStats',
 u'sjc-sql-KPIHourly',
 u'sjc-sql-pubDailyStats',
 u'vertica-kpihourly',
 u'vertica-rpt']

In [9]:
pivoted = pd.pivot_table(df, values='PaidImpressions', index=['Dt'], columns=['TableName'])

In [12]:
smalldf = pivoted.head()
smalldf

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>TableName</th>
      <th>lga-hive-factlogevent</th>
      <th>lga-hive-logevent</th>
      <th>lga-sql-KPIHourly</th>
      <th>lga-sql-advDailyStats</th>
      <th>lga-sql-pubDailyStats</th>
      <th>sjc-hive-factlogevent</th>
      <th>sjc-hive-logevent</th>
      <th>sjc-sql-KPIHourly</th>
      <th>sjc-sql-advDailyStats</th>
      <th>sjc-sql-pubDailyStats</th>
      <th>vertica-kpihourly</th>
      <th>vertica-rpt</th>
    </tr>
    <tr>
      <th>Dt</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-09-09</th>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>88819475.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
      <td>151447969.0</td>
    </tr>
    <tr>
      <th>2017-09-10</th>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>79150905.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
      <td>162699891.0</td>
    </tr>
    <tr>
      <th>2017-09-11</th>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>143116084.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
      <td>188552112.0</td>
    </tr>
    <tr>
      <th>2017-09-12</th>
      <td>167770656.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
      <td>111914535.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
      <td>167745381.0</td>
    </tr>
    <tr>
      <th>2017-09-13</th>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>107435605.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
      <td>177078096.0</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
smalldf.shape

(5, 12)

In [17]:
smalldf.to_csv(sep='\t')

'Dt\tlga-hive-factlogevent\tlga-hive-logevent\tlga-sql-KPIHourly\tlga-sql-advDailyStats\tlga-sql-pubDailyStats\tsjc-hive-factlogevent\tsjc-hive-logevent\tsjc-sql-KPIHourly\tsjc-sql-advDailyStats\tsjc-sql-pubDailyStats\tvertica-kpihourly\tvertica-rpt\n2017-09-09\t151447969.0\t151447969.0\t151447969.0\t151447969.0\t151447969.0\t88819475.0\t151447969.0\t151447969.0\t151447969.0\t151447969.0\t151447969.0\t151447969.0\n2017-09-10\t162699891.0\t162699891.0\t162699891.0\t162699891.0\t162699891.0\t79150905.0\t162699891.0\t162699891.0\t162699891.0\t162699891.0\t162699891.0\t162699891.0\n2017-09-11\t188552112.0\t188552112.0\t188552112.0\t188552112.0\t188552112.0\t143116084.0\t188552112.0\t188552112.0\t188552112.0\t188552112.0\t188552112.0\t188552112.0\n2017-09-12\t167770656.0\t167745381.0\t167745381.0\t167745381.0\t167745381.0\t111914535.0\t167745381.0\t167745381.0\t167745381.0\t167745381.0\t167745381.0\t167745381.0\n2017-09-13\t177078096.0\t177078096.0\t177078096.0\t177078096.0\t177078096.0\t107435605.0\t177078096.0\t177078096.0\t177078096.0\t177078096.0\t177078096.0\t177078096.0\n'